@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
  box-sizing: border-box;
  background: url('/src/assets/weather1.jpg') no-repeat fixed center;
  background-size: cover;;
  color: #222222;
}
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
header{
  width: 90%;
  margin: auto;
  padding: .5em;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  color: #222;
  background-color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: rgba(34, 34, 34, 0.5) 0px 10px 10px;
}
header input{
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #333;
  width: 15rem;
  color: #222;
  font-size: 1.3em;
}
header input:focus{
  outline: none;
}
header input::placeholder{
  font-family: "Noto Sans",sans-serif;
}
#left--panel span:hover{
  cursor: pointer;
}
#right--panel h3{
  text-align: center;
  font-size: 1.3em;
  font-weight: 400;
}
main{
  padding: 2em;
  max-width: 80%;
  margin: 1em auto 1em auto;
  color: #222;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
}
.location--box h3{
  font-size: 2.2em;
  font-weight: 700;
}
.location--box{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.location--box button{
  padding: 1.5em 1em;
  border-radius: 10px;
  box-shadow: rgba(34, 34, 34, 0.3) 0 5px 5px;
  background-color: #fff;
  color: #222;
  border: 2px solid #222;
  transition: .2s ease-in;
}
.location--box button:hover{
  box-shadow: rgba(34, 34, 34, 0.8) 0 5px 5px;
  background-color: #f5f5f5;
}
.temp-box{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.temp-box h2{
  font-size: 3em;
  font-weight: 300;
}
.temp-box img{
  width: 25%;
  height: 25%;
}
.info{
  padding: 0 0 1em 4em;
  text-align: left;
}
section{
  padding: 2em;
  width: 80vw;
  margin: auto;
  margin-bottom: 2em;
  background-color: #fff;
  box-shadow: 5px 5px 15px rgba(34, 34, 34,0.5);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 10px;
}
.next-day--forecast{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1em 3em;
  margin: 1em;
  border: 2px solid rgba(34, 34, 34, 0.8);
}
.next-day--forecast img{
  width: 10em;
  height: 10em;
  margin: auto;
  border-top: 3px solid rgba(51, 51, 51, 0.5);
}
.next-day--forecast h4{
  font-size: 1.5em;
  font-weight: 400;
}
.next-day--forecast h4 span:nth-child(1){
  color: rgb(62, 168, 203);
}
.next-day--forecast h4 span:nth-child(2){
  color: rgb(193, 36, 36);
}
.next-day--forecast span{
  margin-left: .5rem;
}

/* scale toggler */

.toggler {
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggler p {
  font-size: 1.2rem;
  font-weight: 400;
}

.toggler--slider {
  width: 25px;
  height: 13px;
  background-color: #2B283A;
  border-radius: 2rem;
  margin-inline: 7px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  box-sizing: content-box;
}

.toggler--slider--circle {
  height: 13px;
  width: 13px;
  background-color: white;
  border-radius: 50%;
}

.toggler--light {
  color: #222;
}

.toggler--dark {
  color: #222;
}

.toggler#celcius .toggler-dark {
  color: #FFFFFF;
}

.toggler#celcius .toggler--slider {
  justify-content: flex-end;
}